$glob-color-bg:   #F5F5F7;
$glob-color-bg-footer: #020202;
$glob-color-white: #FFF;


$glob-color-link: #4065DD;
$glob-color-link_white: #CCD5F2;
$glob-color-svg:  #000;
$glob-color-headers: #102153;

$glob-color-mark_theme-1: #294DC8;
$glob-color-mark_theme-2: #29AAC8;
$glob-color-mark_theme-3: #5229C8;

$glob-color-primary: #3A3A3A;
